body{
  font-family:arial;
  max-width:1000px;
  max-height:1000px;
  overflow: auto;
  background:linear-gradient( rgba(0, 0, 255, 0.2) 100%, rgba(0, 0, 255, 0.3)100%), url(https://t3.ftcdn.net/jpg/03/35/34/80/360_F_335348056_yY8QyHP966KePjyutnns1Puwt2bnngZc.jpg) center; 
  background-position: center;
  background-size: cover;
  background-repeat:none;
  margin: auto auto;
}

.fg{
  position:relative;
  margin:auto auto; 
  background-color:rgba(255,255,255,.6);
  min-width:400px;
  max-width:600px;
}
.fgbg{
  position: absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:white;
  opacity: .3; 
  border-radius: 5px;

}
.fgtext{
  position: relative;
  z-index:2
}
.block1{
  padding:5px;
  text-align:center;
  border-radius: 15px;
}
.block2{
  position: relative;
  margin-top: 10%;
  z-index:2;
  text-align: left;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
}
#description{
  font-style:italic;
}
.whitebox{
  display: block;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  border-radius: 3px;
  border-width: 0;
  border-color: white;
  box-shadow: none;
  outline: none;
  margin-bottom: 9px;


}
.selectbox{
  width: 93%;
}
label{
  margin-left:3.7%;
  color: rgb(45,45,45);
  
}
#submit{
  width:93%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,200,12,1) 0%, rgba(9,121,114,0.5130427170868348) 100%, rgba(0,212,255,0.700717787114846) 100%);
  border:none;
  outline:none;
  color: rgba(255,255,255,1);
  font-family: arial;
  font-size: 16;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-top:10px;
}
textarea{
  display: block;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  border-radius: 3px;
  border-width: 0;
  border-color: white;
  box-shadow: none;
  outline: none;
  margin-bottom: 9px;
  box-sizing: borderbox;
  resize: none;
  height:100px;
}